* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header {
    background-color: #1F2937;
}

.header-container {
    display: flex; 
    padding: 100px;
    justify-content: space-around;
    
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-top {
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
    padding: 10px;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
    
}

a {
    color: #E5e7EB;
    text-decoration: none;
}

.title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bold;
    max-width: 420px;
}

.sub-title {
    font-size: 18px;
    color: #E5e7EB;
    margin: 10px 0;
    max-width: 420px;
}

img {
    max-height: 200px;
    margin-left: 50px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    width: 100px;
    padding: 8px;
    border-radius: 10px;
    border: 0px;
    
}

.section-2 {
    margin: 45px 200px;
    text-align: center;
    
}


.sub-heading {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
}

.box {
    display: flex;
    margin: 20px;
    justify-content: center;
    gap: 50px;
}

.square {
    width: 170px;
    height: 170px;
    border: 3px solid #3882F6;
    border-radius: 13px;
}

.subtext {
    margin: 0 auto;
}

.section-3 {
    background-color: #E5E7EB;
    padding: 150px 200px;
    display: flex;
    flex-direction: column;
}

p {
    font-size: 36px;
    font-style: italic;
    color: #696969;
    font-weight: lighter;
}

.quote {
    color: #1F2937;
    font-weight: bold;
    align-self: flex-end;
}

.section-4 {
    padding: 100px;
}

.call-to-action {
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 50px 100px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.sign-up {
    border: 1px solid #E5e7EB;
    
}

.footer{
    background-color: #1F2937;
    color: #E5e7EB;
    padding: 20x;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;

}
